@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Silkscreen&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: 'Montserrat', sans-serif;
}

:root{
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background: ;*/
  --backgroundPrimary: #0061df;
  /*padding*/
  --padding: 0 130px;
  
}
.title{
  /* Paragraph/Medium/Semibold */
 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
  
  text-align: center;
  letter-spacing: -0.02em;
 
 
 /* Color / 2 */
 
   color: #0D263B;
 }
.subtitle{
 /* Paragraph/Medium/Semibold */

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Color / 2 */

color: #0D263B;
}
